asgiref
certifi
charset-normalizer
crispy-bootstrap5
distlib
dj-database-url
Django
django-cors-headers
django-crispy-forms
django-email
django-environ
django-filter
djangorestframework
filelock
idna
keyboard
Markdown
MouseInfo
numpy
opencv-python
pillow
platformdirs
psycopg2
psycopg2-binary
PyAutoGUI
PyGetWindow
PyMsgBox
pyperclip
PyRect
PyScreeze
pytweening
requests
sqlparse
sslcommerz-lib
typing_extensions
tzdata
urllib3
virtualenv